@import "utils/reset.scss";

$white: #ffffff;
$light: #eeeeee;
$primary: #00BF9A;

// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body { background-color: $light; }

.main-content {
  font-family: 'Karla', sans-serif;
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 2rem;

  .login-link {
    float: right;
    color: $white;
  }

  h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }
}

a {
  color: #000;
  text-decoration: none;
}

.tag-filters {
  text-align: right;

  li {
    margin: 0.5rem 0;

    &:hover, &.active {
      a {
        color: $primary;
      }
    }
  }
}

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  li {
    margin: 2rem 1rem;
    max-width: 28rem;
    flex-grow: 1;
  }

  img {
    width: 20rem;
    margin-bottom: 0.5rem;
  }

  .article {
    max-width: 60rem;
    margin: 5rem auto;
    color: #000;
  }
}

.apos-ui .apos-pager {
  display: flex;
  justify-content: center;
}
