@import "utils/reset.scss";

$white: #ffffff;
$light: #eeeeee;
$primary: #00BF9A;

// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body {
 background-color: $light;
 padding-top: 60px;
}

.main-content {
  font-family: 'Karla', sans-serif;
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 2rem;

  .login-link {
    float: right;
    color: $white;
  }

  h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }
}

a {
  color: #000;
  text-decoration: none;
}

.social-links {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 3rem 0;

  li {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  }

  a, img {
    display: inherit;
    width: 100%;
    height: 100%;
  }

  // svg use {
  //   width: 30px;
  //   height: 30px;
  // }
}


.articles-content {
  position: relative;

  .tag-filters {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;

    li {
      margin: 0.5rem 0;

      &:hover, &.active {
        a {
          color: $primary;
        }
      }
    }
  }

  .articles-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 130px);

    h2 {
      font-size: 1.3rem;
      margin: 1rem 0;
    }

    li {
      margin: 2rem 1rem;
      max-width: 28rem;
      flex-grow: 1;
    }

    img {
      width: 20rem;
      margin-bottom: 0.5rem;
    }
  }
}

.article {
  max-width: 60rem;
  margin: 5rem auto;
  color: #000;

  img {
    max-width: 100%;
    margin: 0 auto;
  }

  .words-counter {
    text-align: right;
    margin: 0.3rem 0;
  }
}


.apos-ui .apos-pager {
  display: flex;
  justify-content: center;
}
